*{
    box-sizing: border-box;
}

.botao{
    border: 3px transparent #999;
    height: 75px;
    padding: 10px 25px;
    width: 100px;
}

.caixa{
    background-color: lightcoral;
    width: 250px;
}

.caixa-com-padding{
    background-color: lightblue;
    padding: 5px 25px;
    width: 250px;
    text-align: center;
}