*{
    box-sizing: border-box;
}

.botao{
    border: 3px transparent #999;
    height: 75px;
    padding: 10px 25px;
    width: 100px;
}

.caixa{
    background-color: lightcoral;
    width: 250px;
}

.caixa-com-padding{
    background-color: lightblue;
    padding: 5px 25px;
    width: 250px;
    text-align: center;
}

.faixa{
    border: 1px solid #000;
    height: 100px;
    margin: 40px auto;
    width: 400px;
}

.faixa h1{
    background-color: #990000;
    color: #fff;
    font-size: 1.2em;
    left: -10px;
    padding: 5px o;
    position: relative;
    text-align: center;
    width: 420px;
    margin-top: 13px;
}

.faixa h1::before{
    border-color: transparent #7c0000 #7c0000 transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 0;
    position: absolute;
    top: -10px;
}

.faixa h1::after{
    border-color: transparent transparent #7c0000 #7c0000;
    border-style: solid;
    border-width: 5px;
    content: "";
    right: 1px;
    position: absolute;
    top: -10px;
}

.ajuda{
    background-color: #f1efe6;
    border: 1px solid #d3cdae;
    font-size: 0.9em;
    padding: 10px;
    position: relative;
    width: 300px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.ajuda::before{
    border-color: transparent #d3cdae transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: "";
    left: -28px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}

.texto{
    background-color: aquamarine;
    border: 2px solid red;
    font-size: 1em;
    padding: 10px;
    position: relative;
    width: 200px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.texto::before{
    border-color: transparent aquamarine transparent transparent;
    border-style: solid;
    border-width: 14px;
    content: "";
    left: -30px;
    margin-top: -14px;
    position: absolute;
    top: 50%;
}